<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Printing Rates</Name>
    <Version>1.0.0</Version>
    <Title>Printing Rates Installer</Title>
    <Publisher>deadbush25</Publisher>
    <StartMenuDir>Printing Rates</StartMenuDir>
    <InstallerWindowIcon>../src/icons/Printing Rates.png</InstallerWindowIcon>
    <InstallerApplicationIcon>../src/icons/Printing Rates</InstallerApplicationIcon>
    <TargetDir>@ApplicationsDirX64@/Printing Rates</TargetDir>
    <MaintenanceToolName>Download Sorter MaintenanceTool</MaintenanceToolName>
    <RemoteRepositories>
        <Repository>
            <Url>https://raw.githubusercontent.com/Deadbush225/DownloadSorter/main/repository</Url>
            <Enabled>1</Enabled>
        </Repository>
    </RemoteRepositories>
</Installer>
